@{
}

<p>
    UNIVERSIDAD ESTATAL A DISTANCIA DE COSTA RICA <br>
    VICERRECTORIA ACADEMICA <br>
    ESCUELA DE CIENCIAS EXACTAS Y NATURALES <br>
    CARRERA DE INGENIERIA INFORMATICA <br>
    <br>
    PROYECTO 1 <br>
    PAGINA WEB DE POLO NORTE <br>
    <br>
    GRUPO 03<br>
    PROFESOR SIGIFREDO LEITON LUNA<br>
    <br>
    DAYRON ANTONY CHAVES SANDOVAL<br>
    305240018<br>
    <br>
    CENTRO UNIVERSITARIO DE TURRIALBA<br>
    <br>
    FECHA DE ENTREGA<br>
    04 DE JULIO DEL 2021<br>
    <br>
    SEGUNDO CUATRIMESTRE, 2021.
</p>